h1 {
    background-color: rgb(225, 181, 161);
    width: 400px;
}

.first {
    background-color: rgb(131, 191, 243);
    width: 500px;
}

.second {
    background-color: rgb(156, 139, 219);
    width: 500px;
}

.third {
    background-color: rgb(235, 230, 134);
    width: 500px;
}

.four {
    background-color: rgb(141, 231, 150);
    width: 500px;
}

.fifth {
    background-color: rgb(230, 135, 135);
    width: 500px;
}
body {
    background-color: rgb(197, 227, 253);
}